body {
  margin: 0;
  padding: 0;
  font: 1em/1.5em "Open Sans", sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00aeef;
  text-decoration: none;
  font-weight: bold;
}

header {
  text-align: center;
  padding: 2rem;
}

main {
  background-color: white;
  color: black;
  padding: 2rem 0 4rem;
}

h1 {
  font-family: "Covered By Your Grace", cursive;
  font-size: 4rem;
  text-align: center;
}

#me {
  display: block;;
  height: auto;
}
#imgMe{
  width: 19rem;
  margin: 0 auto 1rem;
  height: auto;
  border-radius: 50%;
}

#meImg{
  float: left;
  padding: 2rem 0 4rem;
}

#mrContent{
  float: right;
  width: 30rem;
  max-width: 80%;
  padding: 2rem 0 4rem;
  margin: 0 auto 1rem;
}

#personal{
  float: left;
  display: block;
  height: auto;
}

#personal.p{
    float:right;
}

#uni{
  display: block;
  float: right;
  height: auto;
}
#uni.p{
    float:right;
}

.projectImg{
  float: left;;
}

.social {
  list-style: none;
  margin: 1rem auto 0;
  padding: 0;
  width: 15rem;
  max-width: 80%;
}

.social li {
  margin: 0;
  padding: 0;
}

.social li a {
  display: block;
  position: relative;
  padding-left: 3rem;
  line-height: 2rem;
  vertical-align: middle;
  color: #999;
  transition: color 0.2s ease;
}

.social li a:hover {
  color: #00aeef;
}

.social li a::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  font: normal 2rem/1em "FontAwesome";
}

.social li a[rel="github"]::before { content: '\f09b'; }

footer {
  margin: 0;
  padding: 1rem 0 4rem;
  text-align: center;
}

footer img {
  height: 4rem;
  width: auto;
  margin: 0 1rem;
}
