<div fxLayout="row">
  <div fxFlex.gt-md="10" fxFlex="1"></div>
  <div fxFlex fxLayoutWrap class="card-deck-container" fxLayoutGap="">
    <div fxLayout="col" fxFlex.gt-md="calc(30% - 20px)" fxFlex.gt-sm="calc(30% - 20px)" fxFlex.gt-xs="calc(50% - 20px)" fxFlex.xs="calc(100% - 20px)" class="card-container" *ngFor="let item of items">

      <mat-card fxFlex="grow">
        <img mat-card-image src="{{item.image}}">
        <mat-card-header>
          <mat-card-title>
            <h3>{{item.title}}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{item.blurb}}
          </p>
        </mat-card-content>
          <mat-card-actions align="end">
            <a *ngIf="item.viewButton" href="{{item.viewButton.link}}" mat-button> {{item.viewButton.name}} </a>
            <a *ngIf="item.sourceButton" href="{{item.sourceButton.link}}" mat-button> {{item.sourceButton.name}} </a>
          </mat-card-actions>
      </mat-card>
    </div>

  </div>
  <div fxFlex.gt-md="10" fxFlex="1"></div>
</div>
