.card-deck-container {
  width: 100%;
}

.card-container {
  margin: 0px 4px 8px 4px;
}

.mat-card {
  padding-top: 0;
}

.card-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-width {
  min-width: 20em !important;
}

.card-content {
  font-size: 18px;
}

@media only screen and (max-width: 599px) {
  .card-container {
    margin: 0px 0px 8px 0px;
  }

  .card-width {
    min-width: 22em !important;
  }
}
