/* Full size toolbar for navigation */
mat-toolbar.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 0 8px 0 8px;
}

.menuLogo {
  height: 2.5em;
  vertical-align: middle;
}

.menuSpacer {
  min-width: 0.5em;
}

.mat-tab-link {
  font-size: 16px;
  line-height: 2em;
  height: 2em;
  min-width: 12ch;
  opacity: 1;
  color: black;
}

::ng-deep .mat-ink-bar {
  background-color: #087f23 !important;
}

.menuTitle h1 {
  line-height: 2ch;
  font-size: 18px;
}
.content-spacer {
  height: 54px;
}

/* Large displays */
@media screen and (min-width: 600px) {
  .menuTitle h1 {
    display: inline;
  }

  .menuTitle .secondH1 {
    padding-left: 1ch;
  }

  .mat-tab-link {
    min-width: 16ch;
  }

  .content-spacer {
    height: 60px;
  }
}

/* Small displays */
@media screen and (max-width: 440px) {
  .menuTitle {
    display: none;
  }
}


