mat-toolbar.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0 16px 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}
.mat-toolbar {
    min-height: 56px;
}

.menuSpacer {
  min-width: 10px;
}

.menuLogo {
  height: 50px;
  vertical-align: middle;
}

.menuTitle {
  text-align: center;
  font-weight: 300;
}

/deep/ .mat-tab-link {
  line-height: 28px !important;
  height: 28px !important;
}

/deep/ .mat-tab-header {
  color: black !important;
  border-radius: 5px 5px 0px 0px;
}

/deep/ .mat-tab-link {
  font-size: 16px;
  opacity: 1 !important;
  color: black !important;
}

/deep/ .mat-ink-bar {
  background-color: #087f23 !important;
}

/deep/ .mat-app-background{
  margin-right: 0px;
  margin-left: 0px;
}
