<div fxLayout="row" style="padding-left: 2px; padding-right: 2px;">
  <div fxFlex.gt-sm="calc(50% - 900px)" fxFlex="0"></div>

  <mat-card fxFlex="grow" fxFlex.gt-sm="900px">
    <mat-card-header>
      <mat-card-title>
        <h2>About</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>Bryn Bennett "LaserFlash"</h3>
      </mat-card-subtitle>
    </mat-card-header>
    <picture>
      <source srcset="assets/images/skiing.webp" type="image/webp">
      <source srcset="assets/images/skiing.png" type="image/jpeg">
      <img mat-card-image src="assets/images/skiing.png" alt="Bryn skiing on Mt Ruapehu">
    </picture>
    <mat-card-content class="about-content">
      <h3>Me</h3>
      <p>
        I am a fourth-year Software Engineering student at Victoria
        University. Some of my other passions include: yachting, canoe polo,
        skiing, and gaming. As well as spending a large amount of time completing
        university projects I develop and work on some of my own personal projects
        and balance this with spending time training for national and international
        regattas as part of the Wellington Youth Sailing Trust Youth Scheme.
      </p>
      <p>
        My most noteable project is developing a system for Yacht clubs to log
        how their boats are used and breakages that they may have.

        This soloution is in the form of a web app and has been deployed and is
        in active use by:
      </p>
      <ul>
        <li> Wellington Youth Sailing Trust </li>
        <li> Tup Radford Intercollegiate Yachting Academy</li>
        <li> New Plymouth Yacht Club</li>
        <li> Queen Charlotte Yacht Club</li>
      </ul>

    </mat-card-content>
    <mat-card-actions align="end" class="card-content">
      <a color="accent" href="https://github.com/LaserFlash" mat-button>GitHub</a>
    </mat-card-actions>
  </mat-card>

  <div fxFlex.gt-sm="calc(50% - 900px)" fxFlex="0"></div>
</div>
