<div fxLayout="row">
  <div fxFlex.gt-md="calc(50% - 900)" fxFlex="0"></div>
    <mat-card fxFlex.gt-md="900px">
      <mat-card-header>
        <mat-card-title><h2>About</h2></mat-card-title>
        <mat-card-subtitle><h3>Bryn Bennett "LaserFlash"</h3></mat-card-subtitle>
      </mat-card-header>
      <picture>
        <source srcset="assets/images/skiing.webp" type="image/webp">
        <source srcset="assets/images/skiing.png" type="image/jpeg"> 
        <img mat-card-image src="assets/images/skiing.png" alt="Bryn skiing on Mt Ruapehu">
      </picture>
      <mat-card-content>
        <h3>Me</h3>
        I am a second-year Software Engineering student at Victoria University.
        Some of my other passions include: yachting, canoe polo, skiing, and gaming.
        As well as spending a large amount of time completing university projects
        I develop and work on some of my own personal projects and balance this with
        spending time training for national and international regattas as part of the
        Wellington Youth Sailing Trust Youth Scheme.
      </mat-card-content>
      <mat-card-actions align="end">
        <a color="accent" href="https://github.com/LaserFlash" mat-button>GitHub</a>
      </mat-card-actions>
    </mat-card>
  <div fxFlex.gt-md="calc(50% - 900)" fxFlex="0"></div>
</div>
