/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar { 
	display: none;
}
html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
  }

body, html{
	background: #37474f;
}

